@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
    --basic-black: #000000;
    --special-black: #161D29;

    --basic-darkgrey: #1D2739;
    --special-grey: #32425C;
    --special-lightgrey: #E5E5E5;
    --basic-greylight: #C5C5C5;
    --light-grey: #F9F5F0;
    --light-grey-border: #EAEAEA;
    --grey-text: #A9A9A9;
    --grey-range: #D7DCDE;
    --special-greyrange: #ABABAB;

    --basic-background: #F1F5F7;
    --special-background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
    --box-shadow: rgba(0,0,0, 0.15);
    --filter-result: rgba(0,0,0, 0.5);

    --basic-blue: #3D546F;
    --basic-darkblue: #293449;

    --basic-red: #EE3643;
    --basic-darkred: #CA2C37;
    --special-red: #b52933;
    --special-error: #BA2732;
    --special-darkred: #8D1E26;

    --basic-green: #63A63E;
    --special-success: #5FBB2D;
    --special-greenlight: #8ED78F;
    --dark-green: #367315;
    --range-green: #00CA74;
    
    --special-lilac: #DC91D8;

    --special-blue: #3BBCE3;
    --special-darkblue: #405069;

    --special-yellow: #FFBF47;
    --special-yellowlight: #FFD180;

    --special-background: #F7F3EC;
    --form-strip: #F4F4F4;

    --basic-white: #ffffff;
    --special-white: rgba(255,255,255, 0.3);
    --special-white-input: rgba(255,255,255, 0.5);

    --social-background: linear-gradient(0deg, #212A3A, #212A3A);

    --special-hover: rgba(197,197,197, 0.3);
    --special-active: rgba(169,169,169, 0.3);
}

/* Global */

body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-white {
  display: flex;
  align-items: center;
  padding: 13px 25px 11px 22px;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-white svg {
  display: block;
  color: var(--basic-greylight);
  margin-right: 6px;
}

.btn-white:hover {
  color: var(--basic-red);
}

.btn-white:hover svg {
  color: var(--basic-blue);
}

.btn-white:active {
  color: var(--basic-greylight);
}

.btn-white:active svg {
  color: var(--basic-greylight);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* Header */

.header-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 42px;

  background-color: var(--basic-red);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-logo:active {
  background-color: var(--special-error);
}

.header-logo:active::after {
  background-color: var(--special-darkred);
}

.header-logo::after {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--special-red);
}

.header {
  font-family: "Cuprum", Tahoma, sans-serif;
  background-color: var(--basic-darkblue);
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.header-inner {
  padding: 46px 0 60px;
  background-color: var(--basic-background);
}

.header-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-inner-item {
  display: flex;
  padding-left: 30px;
  width: 33.33333%;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-inner-contacts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 37px;
}

.header-inner-login {
  flex-direction: column;
  text-align: center;
}

.header-link {
  padding: 10px 29px 8px 20px;
  color: var(--basic-white);
}

.header-link svg {
  margin-right: 5px;
  opacity: 0.3;
  fill: var(--basic-white);
}

.header-link:hover svg {
  opacity: 1;
}

.header-link:active {
  color: var(--special-white-input);
  background-color: var(--special-black);
}

.header-link:active svg {
  opacity: 0.5;
}

.header-input {
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.header-title {
  margin: 0;
  margin-top: -3px;
  padding: 0;
  width: 210px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
}

.phone {
  display: block;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 2px;
  padding: 5px 45px 5px 15px;
  border: 3px solid var(--basic-white);

  font-size: 21px;
  line-height: 30px;
  text-align: right;
  font-weight: 700;
  color: var(--basic-red);

  background-image: url("../img/icon-phone.svg");
  background-size: 20px auto;
  background-position: left 35px center;
  background-repeat: no-repeat;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.adress {
  margin: 0 0 0 -13px;
  font-size: 14px;
  color: var(--special-grey);
}

.site-nav-wrapper {
  width: 100%;
  margin-top: 40px;

  background-color: var(--special-grey);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0 27px 0 33px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site-nav-item a {
  display: block;
  padding: 18px 20px;
  font-size: 18px;
  color: var(--basic-white);
}

.site-nav-item a:hover {
  background-color: var(--basic-darkgrey);
}

.account-wrapper {
  padding-left: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 299px;
  text-align: center;

  background-color: var(--basic-white);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login-name {
  position: relative;
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.login-name svg {
  display: block;
  color: var(--basic-greylight);
}

.login-name svg + span {
  margin-left: 21px;
}

.login-name:active,
.login-name:active svg {
  color: var(--basic-greylight);
}

.login-name:hover svg {
  color: var(--basic-blue);
}

.account-details {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-grey);
}

.account-details:hover {
  color: var(--basic-red);
}

.account-details:active {
  color: var(--basic-greylight);
}

.account-orders {
  position: relative;
  margin-right: 30px;
}

.account-orders::after {
  position: absolute;
  top: 40%;
  right: -18px;

  content: "";
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: var(--special-grey);
}

.account-orders:hover::after {
  background-color: var(--basic-red);
}

.account-orders:active::after {
  background-color: var(--basic-greylight);
}

.logout {
  display: flex;
  align-items: center;
  margin-left: auto;

  width: 35px;
  height: 45px;
}

.logout svg {
  fill: var(--basic-greylight);
}

.logout:hover svg {
  fill: var(--basic-blue);
}

.logout:active svg {
  fill: var(--basic-greylight);
}

.basket {
  width: 136px;
  margin-left: 10px;
  padding-right: 0;
  padding-left: 10px;

  background-color: var(--basic-red);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Search Form */

.search-form {
  position: relative;
  width: 240px;
  margin-right: auto;
}

.search-field {
  display: block;
  padding: 0 20px 0 41px;
  width: 100%;
  height: 42px;

  color: var(--basic-white);
  background-color: transparent;
  border: 0;

  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-field::placeholder {
  color: var(--basic-white);
}

.search-form label {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 35px;
  height: 29px;

  opacity: 0.3;
  fill: var(--basic-white);
  cursor: pointer;
}

.search-field:hover + label {
  opacity: 1;
}

.search-field:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

.search-field:focus + label {
  opacity: 1;
  fill: var(--basic-red);
}

/* Main */

.main-title {
  margin: 0 0 24px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-grey);
}

.main-title-catalog {
  padding: 29px;
  background-color: var(--basic-background);
}

.main-title-black {
  color: var(--basic-black);
}

.description-text {
  margin: 0 0 27px;
}

/* Promo */

.promo {
  margin: 59px 0;
}

.promo-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 20px;
}

.promo-block {
  position: relative;

  width: 300px;
  padding: 21px 90px 21px 23px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.new::after {
  position: absolute;

  content: "";
  top: 0;
  right: 0;

  width: 69px;
  height: 69px;
  background-image: url("../img/new.svg");
}

.new::before {
  position: absolute;

  content: "new";
  top: 11px;
  right: 11px;

  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: var(--basic-white);

  transform: rotate(45deg);

  z-index: 100;
}

.promo-block-materials {
  background: url("../img/icon-1.svg") no-repeat right 43px top 31px;
  background-color: var(--special-yellow);
}

.promo-block-tools {
  background: url("../img/icon-2.svg") no-repeat right 31px top 34px;
  background-color: var(--special-blue);
}

.promo-block-cars {
  background: url("../img/icon-3.svg") no-repeat right 31px center;
  background-color: var(--special-lilac);
}

.promo-block-sales {
  grid-row: 2 / 3;
  grid-column: 3;

  background: url("../img/icon-4.svg") no-repeat right 45px top 26px;
  background-color: var(--special-greenlight);
}

.promo-block-shipping {
  grid-row: 3;
  grid-column: 3;

  background: url("../img/icon-5.svg") no-repeat right 31px top 32px;
  background-color: var(--special-yellow);
}

.promo-title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-link {
  display: block;
  width: 135px;
  padding: 10px 0;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--special-white);
}

.promo-link:hover {
  background-color: var(--special-hover);
}

.promo-link:active {
  background-color: var(--special-active);
}

/* Slider */

.promo-slider {
  position: relative;

  grid-row: 2 / 4;

  width: 620px;
  height: 266px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.promo-slider-1 {
  background-image: url("../img/man.jpg");
}

.promo-slider-2 {
  background-image: url("../img/man2.jpg");
}

.promo-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
  padding: 23px 24px;
  height: 266px;
  background-color: var(--basic-black);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slide p {
  margin: 0;
}

.slide-show {
  display: block;
}

.slide-title {
  margin: 0;
  margin-bottom: 6px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 19px;

  display: flex;
  justify-content: space-between;
  width: 586px;

  z-index: 20;
}

.slider-toggler {
  display: block;
  margin-right: 10px;
  width: 6px;
  height: 6px;

  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-red);
}

.slider-toggler-active {
  background-color: var(--basic-white);
}

.togglers {
  position: absolute;
  bottom: 36px;
  left: 51%;

  display: flex;

  transform: translateX(-50%);
}

/* Popular */

.popular {
  margin-bottom: 70px;
}

.popular-developer-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  padding: 25px 17px 25px 28px;
  background-color: var(--light-grey);
}

.popular-header:nth-child(1) {
  padding-right: 14px;
}

.popular-header .main-title {
  margin: 0;
}
/* Service */

.service {
  padding: 64px 0 99px;
  background-color: var(--basic-background);
}

.service .main-title {
  margin-bottom: 25px;
}

.service .description-text {
  width: 400px;
}

.service-slider {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
}

.service-link-list::after {
  position: absolute;
  top: -45px;
  right: 0;

  content: "";
  width: 10px;
  height: 279px;

  background-image: url("../img/line.png");
}

.service-link-list {
  position: relative;

  width: 240px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-link {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  background-color: var(--basic-blue);
}

.service-link a {
  display: block;
  padding: 14px 22px 17px;

  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-darkblue);
  border-top: 1px solid var(--special-darkblue);
}

.service-link:not(.service-link-active) a:hover {
  background-color: var(--basic-darkblue);
  border-color: var(--basic-darkblue);
}


.service-link-active {
  background-color: var(--basic-white);
}

.service-link-active a {
  color: var(--special-grey);
  border: none;
}

.service-slider-block {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slide {
  position: relative;

  display: none;
  width: 620px;
  min-height: 100%;
  flex-direction: column;
}

.service-slide .description-text {
  width: 275px;
}

.service-slide .main-title {
  margin-bottom: 27px;
}

.service-slide-show {
  display: block;
}

.service-slide-shipping::after {
  position: absolute;
  top: 19px;
  right: 0;

  content: "";
  width: 468px;
  height: 261px;

  background: url("../img/car.png") no-repeat center;
}

.service-slide-garanty::after {
  position: absolute;
  top: -2px;
  right: -7px;

  content: "";
  width: 389px;
  height: 283px;

  background: url("../img/garanty.png") no-repeat center;
}

.service-slide-garanty .description-text {
  margin-top: -4px;
  width: 315px;
}

.service-slide-credit::after {
  position: absolute;
  top: -2px;
  right: -10px;

  content: "";
  width: 465px;
  height: 285px;

  background: url("../img/credit.png") no-repeat center;
}

.service-slide-credit .description-text {
  width: 278px;
}

/* Information */

.information {
  padding: 70px 0;
}

.information-wrapper {
  display: flex;
  justify-content: space-between;
}

.information-about {
  width: 450px;
}

.information-about .main-title {
  margin-bottom: 21px;
}

.information-about .btn-red {
  width: 220px;
}

.information-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.information-contacts .main-title {
  margin-bottom: 22px;
}

.information-contacts .btn-red {
  width: 100%;
}

.shipping-list {
  margin-top: -31px;
  margin-bottom: 14px;
  padding: 0 0 0 37px;

  list-style: none;
}

.shipping-list-item {
  position: relative;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 36px;
}

.shipping-list-item::before {
  position: absolute;
  top: 16px;
  left: -37px;

  content: "";
  width: 25px;
  height: 2px;

  background-color: var(--basic-red);
}

.map {
  display: block;
  margin-top: 6px; 
  margin-bottom: 17px;
}

/* Catalog */

.catalog {
  margin-top: 20px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-gap: 20px;
}

.catalog-filter-col {

}

.catalog-items-col {

}

.breadcrumbs-wrapper {
  display: flex;
  margin: 17px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-left: 41px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs-item::before {
  position: absolute;
  top: 2px;
  left: -25px;

  content: "";
  width: 7px;
  height: 10px;

  background: url("../img/icon-right-small.svg") no-repeat center;
}

.catalog-cards-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 20px;
  grid-row-gap: 18px;

  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  list-style: none;
}

.catalog-cards-list li {
  display: flex;
  flex-direction: column;
}

.catalog-cards-list-index {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: min-content;
  grid-gap: 20px;
  grid-row-gap: 18px;

  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.catalog-cards-list-index li {
  display: flex;
  flex-direction: column;
}

.product-card {
  position: relative;

  padding: 30px 17px 19px;

  font-size: 17px;
  font-weight: 700;
  text-align: center;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey-border);
}

.product-card:hover {
  box-shadow: 0px 4px 20px var(--box-shadow);
}

.product-card:hover .product-card-popup {
  opacity: 1;
  pointer-events: auto;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 184px;
  height: 112px;
}

.product-card-title {
  margin: 35px 0 5px;
  font-size: 18px;
  line-height: 20px;

  z-index: 1;
}

.old-price {
  margin: 0 0 11px;

  color: var(--grey-text);
  text-decoration-line: line-through;
}

.price {
  height: 40px;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 14px;
  padding: 7px 0 7px 46px;

  color: var(--basic-white);
  text-align: left;
  text-transform: uppercase;

  background: url("../img/red-button.svg") no-repeat center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-card-popup {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 39px 0;

  background-color: var(--basic-white);
  opacity: 0; 
  pointer-events: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.new::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;

  width: 69px;
  height: 69px;

  background-image: url("../img/new.svg");
}

.new::before {
  position: absolute;
  top: 11px;
  right: 11px;

  content: "new";
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", Tahoma, sans-serif;
  color: var(--basic-white);

  transform: rotate(45deg);

  z-index: 100;
}

.catalog-developer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;

  border: 1px solid var(--light-grey-border);
}

.catalog-developer:hover {
  box-shadow: 0px 4px 20px var(--box-shadow);
}

.catalog-developer:active {
  opacity: 0.5;
}

.perforators {
  margin-top: 59px;
  padding: 65px 0px 68px;

  background-color: var(--basic-background);
}

.perforators .description-text {
  margin: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  padding: 6px 15px;

  border: 1px solid var(--special-lightgrey);
  border-radius: 2px;
}

.pagination-btn a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-btn-current {
  background-color: var(--basic-red);
  border: none;
}

.pagination-btn-last {
  padding: 6px 30px;
}

.pagination-btn-current a {
  color: var(--basic-white);
}

.pagination-btn:hover {
  border-color: var(--basic-greylight);
}

.pagination-btn:active {
  border-color: var(--basic-red);
}

/* Filter */

.content-col-header {
  display: flex;
  align-items: center;

  margin-bottom: 28px;
  padding: 5px 10px 6px 19px;

  background-color: var(--special-background);
}

.content-col-header h3 {
  margin: 0;

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-fieldset {
  position: relative;
  margin: 0;
  margin-top: 6px;
  padding: 0;

  border: none;
}

.filter-line::after {
  position: absolute;
  bottom: 9px;

  content: "";
  width: 100%;
  height: 1px;

  background-color: var(--special-lightgrey);
}

.filter-fieldset:nth-of-type(1) {
  margin-top: -13px;
}

.filter-legend {
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-list {
  margin: 3px 0 30px;
  padding-left: 35px;

  list-style: none;
  line-height: 45px;
}

.filter-list-radio {
  margin-top: 10px;
}

.filter-list-item {
  font-size: 15px;
  line-height: 39px;
  text-transform: uppercase;
}

.check-box {
  position: absolute;

  width: 27px;
  height: 23px;
  margin-top: 7px;
  margin-left: -35px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.check-box:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

input[type="checkbox"]:disabled ~ .check-box-label {
  opacity: 0.4;
}

.visually-hidden:disabled ~ .radio-label {
  opacity: 0.4;
}

.visually-hidden:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.visually-hidden:checked:disabled + .check-box {
  opacity: 0.4;
}

.visually-hidden:checked + .check-box:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23b5b5b5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.visually-hidden:focus + .check-box {
  outline: 2px solid var(--special-lightgrey);
  outline-offset: 3px;
}

.visually-hidden:focus + .radio {
  outline: 2px solid var(--special-lightgrey);
  outline-offset: 5px;
}

.radio {
  position: absolute;

  width: 25px;
  height: 25px;
  margin-top: 9px;
  margin-left: -35px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.radio:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
}

.visually-hidden:checked + .radio {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

.visually-hidden:checked + .radio:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

.visually-hidden:disabled ~ .radio {
  opacity: 0.4;
}

.filter-result-list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-result-list-item {
  padding-left: 67px;
}

.filter-result-list-item a {
  color: var(--filter-result);
  text-transform: uppercase;

  border-bottom: 1px dashed var(--basic-red);
}

.filter-result-list-item a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.filter-result-list-item-active a {
  color: var(--basic-red);
  border-bottom: none;
}

.filter-sort-list {
  display: flex;
  margin: 0 0 0 30px;
  padding: 0;

  list-style: none;
}

.filter-sort-list li {
  flex: none;
  margin-left: 10px;
}

.filter-sort-list a {
  position: relative;

  display: block;
  width: 23px;
  height: 24px;
}

.filter-sort-list a::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  width: 0;
  height: 0;

  transform: translate(-50%, -50%);

  border-style: solid;
}

.filter-sort-list .up::before {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent var(--basic-greylight) transparent;
}

.filter-sort-list .up-active::before {
  border-color: transparent transparent var(--basic-red) transparent;
}

.filter-sort-list .up:hover::before {
  border-color: transparent transparent var(--basic-black) transparent;
}

.filter-sort-list .up:active::before {
  border-color: transparent transparent var(--basic-red) transparent;
}

.filter-sort-list .down::before {
  border-width: 10px 5.5px 0 5.5px;
  border-color: var(--basic-greylight) transparent transparent transparent;
}

.filter-sort-list .down:hover::before {
  border-color: var(--basic-black) transparent transparent transparent;
}

.filter-sort-list .down:active::before {
  border-color: var(--basic-red) transparent transparent transparent;
}

/* Range Filter */

.range-filter {
  margin-top: 8px;
  width: 220px;
}

.range-controls {
  position: relative;

  margin-bottom: 9px;
  margin-top: 6px;
  padding: 37px 20px 38px 18px;

  background-color: var(--special-background);
  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--grey-range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--range-green);
}

.range-controls .toggle {
  position: absolute;
  top: 37px;

  display: block;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: var(--special-greyrange);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 var(--special-greyrange);

  transform: translate(-50%, -50%);
  cursor: pointer;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.price-controls {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.price-controls input {
  width: 90px;
  height: 36px;

  font-size: 17px;
  text-align: center;

  background-color: var(--special-background);
  border: none;
  border-radius: 3px;
}

.price-controls span {
  margin: 0 auto;
}

/* Footer */

.page-footer {
  position: relative;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-darkblue);
}

.page-footer-inner {
  padding-bottom: 40px;

  background-color: var(--special-grey);
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 25px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-wrapper p {
  margin: 0;
  width: 115px;

  font-size: 16px;
  line-height: 18px;
}

.footer-wrapper .copyright {
  width: 250px;
  padding: 0;
}

.page-footer-address-col {
  width: 329px;
}

.page-footer-address-col a {
  color: inherit;
}

.page-footer-address-col p {
  margin: 0;
  margin-left: 5px;
}

.page-footer-nav-col {
  padding-top: 40px;
}

.footer-logo {
  height: 64px;
  margin-bottom: 28px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav-secondary {
  color: var(--special-yellowlight);
}

.footer-nav-item {
  margin: 0 0 33px 59px;
}

.footer-nav a {
  color: inherit;
}

.footer-nav a:hover {
  border-bottom: 1px solid;
}

.footer-nav a:active {
  opacity: 0.5;
  border-bottom: 0;
}

.footer-inner {
  font-size: 16px;
  line-height: 18px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-left: 59px;
  width: 300px;
}

.footer-link {
  color: var(--special-yellowlight);
}

.footer-link:hover {
  border-bottom: 1px solid;
}

.footer-link:active {
  opacity: 0.5;
  border-bottom: 0;
}

.footer-link-active:active {
  color: var(--basic-red);
}

.social-block {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  margin-right: 55px;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 2px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background: var(--social-background);

  fill: var(--basic-white);
}

.social-button:hover {
  background: var(--basic-red);
}

/* Modal */

.modal {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  background-color: var(--basic-white);

  box-shadow: 0px 4px 20px var(--box-shadow);
  border-top: 7px solid var(--basic-red);

  z-index: 2000;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 11px;

  width: 21px;
  height: 21px;

  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 21 21' height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.273 10.5 7.422-7.422c.389-.389.389-1.025 0-1.414l-1.359-1.359c-.389-.389-1.025-.389-1.414 0l-7.422 7.422-7.422-7.422c-.389-.389-1.025-.389-1.414 0l-1.359 1.359c-.389.389-.389 1.025 0 1.414l7.422 7.422-7.421 7.422c-.389.389-.389 1.025 0 1.414l1.359 1.359c.389.389 1.025.389 1.414 0l7.422-7.422 7.422 7.422c.389.389 1.025.389 1.414 0l1.359-1.359c.389-.389.389-1.025 0-1.414z' fill='%23ee3643'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  z-index: 20;
}

.modal-feedback,
.modal-basket {
  border-bottom: 112px solid var(--form-strip);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Modal feedback */

.modal-feedback {
  width: 620px;
  height: 430px;
  padding: 39px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-feedback-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.modal-feedback-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  width: 220px;
}

.modal-feedback-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-feedback-message textarea {
  padding: 10px 10px 14px;
  margin-bottom: 73px;

  border: 2px solid var(--basic-greylight);
  resize: none;
}

.modal-feedback label {
  margin-bottom: 11px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback input {
  padding: 0 10px;
  height: 38px;

  border: 2px solid var(--basic-greylight);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-feedback .btn-red {
  width: 100%;

  z-index: 100;
}

/* Modal map */

.modal-map {
  width: 943px;
  height: 449px;

  border-top: 7px solid var(--basic-red);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;

  z-index: 1;
}

.modal-map iframe {
  position: relative;

  border: none;

  z-index: 2;
}

/* Modal basket */

.modal-basket {
  width: 620px;
  height: 282px;
  padding-top: 70px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-basket h2 {
  position: relative;
  width: 300px;
  margin: 0 auto;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.modal-basket h2::after {
  position: absolute;
  top: -22px;
  left: -80px;

  content: "";
  width: 66px;
  height: 66px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 66 66'%3E%3Ccircle fill='%2363A63E' cx='33' cy='33' r='33'/%3E%3Cpath fill='%23FFF' d='M49.641 21.066a1.003 1.003 0 0 0-1.414 0L29.788 39.504a1.003 1.003 0 0 1-1.414 0l-8.14-8.139a1.003 1.003 0 0 0-1.414 0L15.285 34.9a1.003 1.003 0 0 0 0 1.414l13.089 13.09a1.003 1.003 0 0 0 1.414 0l3.536-3.536 1.414-1.414 18.438-18.438a1.003 1.003 0 0 0 0-1.414l-3.535-3.536z'/%3E%3C/svg%3E");
}

.modal-basket-container {
  position: absolute;
  bottom: -76px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 112px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-basket .btn-white {
  padding: 9px 32px 8px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

/* Buttons */

.btn-green {
  padding: 9px 16px 9px 20px;
  background-color: var(--basic-green);
}

.btn-green:hover {
  background-color: var(--special-success);
}

.btn-red {
  display: block;
  width: 192px;
  padding: 11px 0 9px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);
}

.btn-card {
  width: 135px;
  padding: 10px 10px 10px 25px;
  margin-bottom: 10px;

  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  
  border-radius: 2px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-card-buy {
  color: var(--basic-white);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Ccircle fill='%23ffffff' fill-opacity='0.3' cx='4.5' cy='13.5' r='1.5'/%3E%3Ccircle fill='%23ffffff' fill-opacity='0.3' cx='12.5' cy='13.5' r='1.5'/%3E%3Cpath fill='%23ffffff' fill-opacity='0.3' d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 30px top 10px;

  box-shadow: inset 0px -3px 0px var(--dark-green);
}

.btn-card-bookmark {
  padding: 7px 10px;
  color: var(--special-grey);

  border: 3px solid var(--basic-green);
}

.slider-link {
  position: absolute;
  bottom: 27px;
}

.slider-link:hover {
  background-color: var(--basic-darkred);
}

.slider-link:active {
  background-color: var(--special-error);
}

.filter-btn {
  width: 100%;
  padding: 6px 0;

  text-transform: uppercase;
  border: 1px solid var(--special-lightgrey);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}